/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* VARIABLES */
:root {
  /* COLORS */
  --COLOR-WHITE: #fff;
  --COLOR-BLACK: #000;
  --COLOR-P1: #4c84bf;
  --COLOR-P2: #295f98;
  --COLOR-P3: #194b80;
  --COLOR-P4: #093059;
  --COLOR-S1: #d9d0b8;
  --COLOR-S2: #cdc2a5;
  --COLOR-S3: #b2a686;
  --COLOR-S4: #8c7d54;
  --COLOR-GRAY1: #fff8f2;
  --COLOR-GRAY2: #e0dbd5;
  --COLOR-GRAY3: #bfbcb6;
  --COLOR-GRAY4: #a6a39e;
  --COLOR-GRAY5: #73716d;
  --COLOR-GRAY6: #403f3c;
  --COLOR-UTILITY1: #f32a2a;
  --COLOR-UTILITY2: #f3f32a;
  --COLOR-UTILITY3: #2edd33;
  --COLOR-UTILITY4: #abdef8;
  /* FONTS */
  --FONT1-XXL: 400 6rem/1 "Sansation";
  --FONT1-XL: 400 2rem/1.33 "Sansation";
  --FONT1-L: 700 1.75rem/1.6 "Sansation";
  --FONT1-M1: 400 1.33rem/1 "Sansation";
  --FONT1-M2: 700 1.33rem/1 "Sansation";
  --FONT1-M3: 400 1.33rem/1 "Sansation";
  --FONT1-S1: 400 1rem/1.33 "Sansation";
  --FONT1-S2: 400 1rem/1 "Sansation";
  --FONT1-XS1: 700 0.75rem/1.2 "Sansation";
  --FONT1-XS2: 400 0.75rem/1.2 "Sansation";
  --FONT1-XS3: 400 0.75rem/1 "Sansation";
  --FONT2-XL: 3rem/1 "Electrolize";
  --FONT2-L: 2rem/1 "Electrolize";
  --FONT2-M: 1.5rem/1 "Electrolize";
  --FONT2-S: 1rem/1 "Electrolize";
  /* LETTER-SPACING */
  --LETTER-SPACING: 2px;
}

/* COLORS CLASSES */
.white {
  color: var(--COLOR-WHITE);
}
.black {
  color: var(--COLOR-BLACK);
}
.p1 {
  color: var(--COLOR-P1);
}
.p2 {
  color: var(--COLOR-P2);
}
.p3 {
  color: var(--COLOR-P3);
}
.p4 {
  color: var(--COLOR-P4);
}
.s1 {
  color: var(--COLOR-S1);
}
.s2 {
  color: var(--COLOR-s2);
}
.s3 {
  color: var(--COLOR-s3);
}
.s4 {
  color: var(--COLOR-s4);
}
.gray1 {
  color: var(--COLOR-GRAY1);
}
.gray2 {
  color: var(--COLOR-GRAY2);
}
.gray3 {
  color: var(--COLOR-GRAY3);
}
.gray4 {
  color: var(--COLOR-GRAY4);
}
.gray5 {
  color: var(--COLOR-GRAY5);
}
.gray6 {
  color: var(--COLOR-GRAY6);
}
.utility1 {
  color: var(--COLOR-UTILITY1);
}
.utility2 {
  color: var(--COLOR-UTILITY2);
}
.utility3 {
  color: var(--COLOR-UTILITY3);
}
.utility4 {
  color: var(--COLOR-UTILITY4);
}

/* FONTS CLASSES */
.font1-XXL {
  font: 400 6rem/1 "Sansation";
}
.font1-XL {
  font: 400 2rem/1.33 "Sansation";
}
.font1-L {
  font: 700 1.75rem/1.6 "Sansation";
}
.font1-M1 {
  font: 400 1.33rem/1 "Sansation";
}
.font1-M2 {
  font: 700 1.33rem/1 "Sansation";
  letter-spacing: 2px;
}
.font1-M3 {
  font: 400 1.33rem/1 "Sansation";
  letter-spacing: 2px;
}
.font1-S1 {
  font: 400 1rem/1.33 "Sansation";
}
.font1-S2 {
  font: 400 1rem/1 "Sansation";
}
.font1-XS1 {
  font: 700 0.75rem/1.2 "Sansation";
}
.font1-XS2 {
  font: 400 0.75rem/1.2 "Sansation";
}
.font1-XS3 {
  font: 400 0.75rem/1 "Sansation";
}
.font2-XL {
  font: 3rem/1 "Electrolize";
}
.font2-L {
  font: 2rem/1 "Electrolize";
}
.font2-M {
  font: 1.5rem/1 "Electrolize";
  letter-spacing: 2px;
}
.font2-S {
  font: 1rem/1 "Electrolize";
  letter-spacing: 2px;
}

/* CONTAINER */
.container {
  max-width: 300px;
  margin: 0 auto;
}

/* TABLETS */
@media (min-width: 750px) {
  /* CONTAINER */
  .container {
    max-width: 700px;
    margin: 0 auto;
  }
}

/* DESKTOP */
@media (min-width: 1200px) {
  /* FONTS CLASSES */

  .font1-XXL {
    font: 400 8rem/1 "Sansation";
  }
  .font1-XL {
    font: 400 3rem/1.33 "Sansation";
  }
  .font1-L {
    font: 700 2.5rem/1.6 "Sansation";
  }
  .font1-M1 {
    font: 400 2rem/1 "Sansation";
  }
  .font1-M2 {
    font: 700 2rem/1 "Sansation";
    letter-spacing: 2px;
  }
  .font1-M3 {
    font: 400 2rem/1 "Sansation";
    letter-spacing: 2px;
  }
  .font1-S1 {
    font: 400 1.5rem/1.33 "Sansation";
  }
  .font1-S2 {
    font: 400 1.5rem/1 "Sansation";
  }
  .font1-XS1 {
    font: 700 1.25rem/1.2 "Sansation";
  }
  .font1-XS2 {
    font: 400 1.25rem/1.2 "Sansation";
  }
  .font1-XS3 {
    font: 400 1.25rem/1 "Sansation";
  }
  .font2-XL {
    font: 6rem/1 "Electrolize";
  }
  .font2-L {
    font: 4rem/1 "Electrolize";
  }
  .font2-M {
    font: 3rem/1 "Electrolize";
    letter-spacing: 2px;
  }
  .font2-S {
    font: 2rem/1 "Electrolize";
    letter-spacing: 2px;
  }

  /* CONTAINER */

  .container {
    max-width: 1180px;
    margin: 0 auto;
  }
}
